audioop-lts
beautifulsoup4
fastapi
httpx
loguru
markdownify
mutagen
mypy
pod2gen
pyaudio
pydub
pydub-stubs
pymongo
python-dotenv
regex
tqdm
types-beautifulsoup4
types-python-dateutil
types-regex
uvicorn
websockets
